---
title: "Homework 1 (2023): Data Wrangling and Visualization"
subtitle: "Due date : 2023-02-24 23:55 (this is a hard deadline)"
author: "Lagarde et Michard"
date: "2023-02-24"
format:
    html:
        code-fold: true
---

# Homework 1 

Due date : **2023-02-24 @23h55** (this is a **hard deadline**)

## Fill this cell with your names

- LIM, Vincent, Informatique
- AOUINE, Katia, Informatique

## Carefully follow instructions

**If you don't: no evaluation!**

Write in English or French

The deliverable is a file

- `xxx_yyy.ipynb` file (jupyter notebook) or 
- `xxx_yyy.py` file (if you are using `jupytext`) or
- `xxx_yyy.qmd` file (if you are using `quarto`)

where `xxx` and `yyy` are your names, for example `lagarde_michard.ipynb`. 

The deliverable is not meant to contain cell outputs.  

The data files used to execute cells are meant to sit in the same directory as the deliverable. Use relative filepaths or urls to denote the data files.   

We **will** execute the code in your notebook: make sure that running all the cells works well.

## Grading <i class="fa graduation-cap"></i>

Here is the way we'll assess your work

| Criterion | Points | Details |
|:----------|:-------:|:----|
|Spelling and syntax | 3 | English/French  |
|Plots correction | 3 |  Clarity / answers the question  |
|Plot style and cleanliness | 3 | Titles, legends, labels, breaks ... |
|Table wrangling | 4 | ETL, SQL like manipulations |
|Computing Statistics | 5 | SQL `goup by`  and aggregation  |
|DRY compliance | 2 | DRY principle at [Wikipedia](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)|

If we see a single (or more) `for` loop in your code: **-5 points**.  Everything can be done using high-level `pandas` methods

# Preliminaries

## Notebooks: Modus operandi

- This is a [Jupyter Notebook](https://jupyter.org).
- When you execute code within the notebook, the results appear beneath the code.
- [Jupytext](https://github.com/mwouts/jupytext)
- [Quarto](https://quarto.org) 

## Packages

- Base `Python` can do a lot. But the full power of `Python` comes from a fast growing collection of `packages`/`modules`.

- Packages are first installed (that is using `pip install` or `conda install`), and if
needed, imported during a session.

- The `docker` image you are supposed to use already offers a lot of packages. You should not need to install new packages.

- Once a package has been installed on your drive, if you want all objects exported by the package to be available in your session, you should import the package, using `from pkg import *`.

- If you just want to pick some subjects from the package,
you can use qualified names like `pkg.object_name` to access the object (function, dataset, class...)

In [1]:
# importing basic tools
import numpy as np
import pandas as pd

from pandas.api.types import CategoricalDtype

import os            # file operations
import requests      # networking
import zipfile
import io
from pathlib import Path

from datetime import date  # if needed

In [2]:
# importing plotting packages
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

In [3]:
# make pandas plotly-friendly
np.set_printoptions(precision=2, suppress=True)
%matplotlib inline
pd.options.plotting.backend = "plotly"

In [4]:
# Custom import and functions
from tabulate import tabulate

def df_printer(df):
    """
    print a dataframe nicely
    """
    print(tabulate(df, headers='keys', tablefmt='psql'))

# Getting the data

## French data

The French data are built and made available by [INSEE](https://www.insee.fr/fr/accueil)  (French Governement Statistics Institute)

Prénoms:
- [https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip](https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip)

This dataset has been growing for a while. It has been considered by
social scientists for decades.  Given names are meant to give insights into a variety
of phenomena, including religious observance.

- A glimpse at the body of work can be found in [_L'archipel français_ by Jérome Fourquet, Le Seuil, 2019 ](https://www.seuil.com/ouvrage/l-archipel-francais-jerome-fourquet/9782021406023)

- Read the [File documentation](https://www.insee.fr/fr/statistiques/2540004?sommaire=4767262#documentation)

## US data 

US data may be gathered from 

[Baby Names USA from 1910 to 2021 (SSA)](https://www.kaggle.com/datasets/donkea/ssa-names-1910-2021?resource=download)

See [https://www.ssa.gov/oact/babynames/background.html](https://www.ssa.gov/oact/babynames/background.html)


## British data 

English and Welsh data can be gathered from 

[https://www.ons.gov.uk/](https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/livebirths/datasets/babynamesinenglandandwalesfrom1996?utm_source=pocket_saves)




## Download the French data

**QUESTION:** Download the data into a file which relative path is `'./nat2021_csv.zip'`

__Hints:__

- Have a look at  package [`requests`](https://requests.readthedocs.io/en/master/).
- Use magic commands to navigate across the file hierarchy and create subdirectories when needed

In [5]:
# for French data 

fr_params = dict(
    url = 'https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip',
    dirpath = './',
    timecourse = '',
    datafile = 'nat2021.hdf',
    fpath = 'nat2021_csv.zip'
)

In [6]:
# modify location  make sure you are in the right directory
# %cd
# %pwd  #
# %ls
# %mkdir # if needed

In [7]:
fr_url = fr_params['url']      # 'https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip'
fr_fpath = fr_params['fpath']  # './nat2021_csv.zip'

In [8]:
%ls

LIM-AOUINE.ipynb  nat2021.csv  US_data.csv

In [9]:
# your code here

if not Path(fr_params['fpath']).exists():
    r = requests.get(fr_params['url'])                # What is the type of `r` ?
    z = zipfile.ZipFile((io.BytesIO(r.content)))   # What is the type of `z` ? 
    z.extractall(path='./')
print(f"Type of r is {type(r)}")
print(f"Type of z is {type(z)}")

Type of r is <class 'requests.models.Response'>
Type of z is <class 'zipfile.ZipFile'>

Type of r is <class 'requests.models.Response'>
Type of z is <class 'zipfile.ZipFile'>Type

## Download US and British data

In [10]:
# your code here
# for US data 

fr_params = dict(
    url = 'https://www.kaggle.com/datasets/donkea/ssa-names-1910-2021?resource=download',
    dirpath = './',
    timecourse = '',
    datafile = 'US_data.hdf',
    fpath = 'US_data.zip'
)

# for British data

## Load the French data in memory

**QUESTION:** Load the data in a `pandas` `DataFrame` called `data`

__Hints:__

- You should obtain a `Pandas dataframe` with 4 columns.
- Mind the conventions used to build the `csv` file.
- Package `pandas` provides the convenient tools.
- The dataset, though not too large, is already demanding.
- Don't hesitate to test your methods on a sample of rows method `sample()` from class `DataFrame` can be helpful.

In [11]:
# your code here
df = pd.read_csv("nat2021.csv", sep=";")

print("df.head() :")
print(df.head())

print("\ndf.columns :")
print(df.columns)

print("\ndf.dtypes : ")
print(df.dtypes)

print("\ndf.describe() : ")
print(df.describe())

df.head() :
   sexe        preusuel annais  nombre
0     1  _PRENOMS_RARES   1900    1249
1     1  _PRENOMS_RARES   1901    1342
2     1  _PRENOMS_RARES   1902    1330
3     1  _PRENOMS_RARES   1903    1286
4     1  _PRENOMS_RARES   1904    1430

df.columns :
Index(['sexe', 'preusuel', 'annais', 'nombre'], dtype='object')

df.dtypes :
sexe         int64
preusuel    object
annais      object
nombre       int64
dtype: object

df.describe() :
                sexe         nombre
count  686538.000000  686538.000000
mean        1.543406     127.340179
std         0.498113     874.907958
min         1.000000       1.000000
25%         1.000000       4.000000
50%         2.000000       8.000000
75%         2.000000      25.000000
max         2.000000   53547.000000

## Load US and British data in memory

In [12]:
# your code here

## Explore the data

**QUESTION:** Look at the data, Use the attributes `columns`, `dtypes` and the methods `head`, `describe`, to get a feeling of the data.

- This dataset is supposed to report all given names used
for either sex during a year in France since 1900

- The file is made of `652 056` lines and  4 columns.

```
|-- preusuel : object
|-- nombre: int64
|-- sexe: int64
|-- annais: object
```

Each row indicates for a given `preusuel` (prénom usuel, given name), `sexe` (sex), and `annais` (année naissance, birthyear) the `nombre` (number) of babies of the given sex who were given that name during the given year.

|sexe    |preusuel     | annais|   nombre|
|:------|:--------|----:|---:|
|2     |SYLVETTE | 1953| 577|
|1   |BOUBOU   | 1979|   4|
|1   |NILS     | 1959|   3|
|2   |NICOLE   | 2003|  36|
|1   |JOSÉLITO | 2013|   4|


**QUESTION:** Compare memory usage and disk space used by data

**Hints:**

- The method `info`  prints a concise summary of a `DataFrame`.
- With optional parameter `memory_usage`, you can get an estimate
of the amount of memory used by the `DataFrame`.
- Beware that the resulting estimate depends on the argument fed.

In [13]:
# your code here
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686538 entries, 0 to 686537
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sexe      686538 non-null  int64
 1   preusuel  686536 non-null  object
 2   annais    686538 non-null  object
 3   nombre    686538 non-null  int64
dtypes: int64(2), object(2)
memory usage: 21.0+ MB

**QUESTION:** Display the output of `.describe()` with style.

In [14]:
# your code here
def color_fct(value):
    """
    Colors elements in a dateframe
    green if positive and red if
    negative. Does not color NaN
    values.
    """
    if value < 100:
        color = 'red'
    elif value > 1000:
        color = 'green'
    else:
        color = 'blue'

    return 'color: %s' % color

df.describe().style.applymap(color_fct, subset=['nombre'])

**QUESTION:** For each column compute the number of distinct values

In [15]:
# your code here
for col in df.columns:
    print(f"number of different values for columns \"{col}\" :  {len(pd.unique(df[col]))}")

number of different values for columns "sexe" :  2
number of different values for columns "preusuel" :  36171
number of different values for columns "annais" :  123
number of different values for columns "nombre" :  7281

# Transformations

## Improving the data types

**QUESTION:** Make `sexe` a category with two levels `Female` and `Male`. Call the new column `gender`. Do you see any reason why this factor should be ordered?

__Hint:__ Read [Pandas and categorical variables](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html?highlight=category)

In [16]:
# your code here
df['gender'] = np.where(df['sexe'] == 1, "Male", "Female")

print(f"type of gender col : {df['gender'].dtypes}")
df["gender"] = df["gender"].astype('category')
print(f"type of gender col : {df['gender'].dtypes}")

df_printer(df[df['gender'] == "Male"].head())
df_printer(df[df['gender'] == "Female"].head())

type of gender col : object
type of gender col : category
+----+--------+----------------+----------+----------+----------+
|    |   sexe | preusuel       |   annais |   nombre | gender   |
|----+--------+----------------+----------+----------+----------|
|  0 |      1 | _PRENOMS_RARES |     1900 |     1249 | Male     |
|  1 |      1 | _PRENOMS_RARES |     1901 |     1342 | Male     |
|  2 |      1 | _PRENOMS_RARES |     1902 |     1330 | Male     |
|  3 |      1 | _PRENOMS_RARES |     1903 |     1286 | Male     |
|  4 |      1 | _PRENOMS_RARES |     1904 |     1430 | Male     |
+----+--------+----------------+----------+----------+----------+
+--------+--------+----------------+----------+----------+----------+
|        |   sexe | preusuel       |   annais |   nombre | gender   |
|--------+--------+----------------+----------+----------+----------|
| 313469 |      2 | _PRENOMS_RARES |     1900 |     1727 | Female   |
| 313470 |      2 | _PRENOMS_RARES |     1901 |     1774 | Female   |
| 313471 |      2 | _PRENOMS_RARES |     1902 |     1748 | Female   |
| 313472 |      2 | _PRENOMS_RARES |     1903 |     1763 | Female   |
| 313473 |      2 | _PRENOMS_RARES |     1904 |     1812 | Female   |
+--------+--------+----------------+----------+----------+----------+

## **Answer**
Categorical data are values that can take a **finite list of text values** (contrary to the Object type which can take any text values). So in our case, the gender column can only take the text values "Male" and "Female".

There are three main reasons to use Categorical data :
- We can define a **custom order** between the values. Not in this case, but we can use clothe size to illustrate this, we would have a finite number of values ordered as such : "X-Small" < "Small" < "Medium" < "Large" < "X-Large" 
- Some Python visualization libraries are able to interpret categorical data type and **apply statistical models or do some plots**.
- Categorical data uses **less memory** as the number of values is finite, which may lead to **performance improvements**.

**QUESTION:** Compare memory usage of columns `sexe` and `gender`

In [17]:
# your code here
print(f"Memory usage of \"sexe\" column : {df['sexe'].memory_usage(deep=True)}")
print(f"Memory usage of \"gender\" column : {df['gender'].memory_usage(deep=True)}")

Memory usage of "sexe" column : 5492432
Memory usage of "gender" column : 686898

## **Answer**

The gender column is clearly more efficient memory wise (686 898 bits vs 5 492 432 bits) which is also approximately (670.8 KB vs 5.2 MB)

**QUESTION:** Would it be more memory-efficient to recode `sexe` using modalities `F` and `M` instead of `Male` and `Female` ?

In [18]:
df2 = pd.DataFrame()

df2['gender'] = np.where(df['gender'] == "Male", "M", "F")
df2["gender"] = df2["gender"].astype('category')

print(f"Memory usage of \"sexe\" column : {df['sexe'].memory_usage(deep=True)}")
print(f"Memory usage of \"gender\" column : {df['gender'].memory_usage(deep=True)}")

Memory usage of "sexe" column : 5492432
Memory usage of "gender" column : 686898

_Insert your answer here_

## **Answer**

Using `F` and `M` instead of `Female` and `Male` does not improve memory, or at least not in a significative way. I believe the reason is that only the possible values of the categorical columns is stored in memory. Basically, even though the dataframe contains 686 538 rows, the column gender only stores the 2 values `Female` and `Male`. And even if `F` and `M` are shorter strings that might use less memory, it is not significant enough.

## Dealing with missing values

**QUESTION:** Variable `annais` class is `object`. Make `annais` of type `float`. Note that missing years are encoded as "XXXX", find a way to deal with that.

__Hint:__  As of releasing this Homework (2023-01-18), `Pandas` is not very good at managing missing values,
see [roadmap](https://pandas.pydata.org/docs/development/roadmap.html). Don't try to convert `annais` into an integer column.

In [20]:
# your code here
df2 = pd.DataFrame()
df2['annais'] = df['annais']

index_list = df2.loc[df2['annais'] == "XXXX"].index # get all row index which are missing the year value


for i in index_list: # for those row, affect the incremented year of the previous row
    df2.iloc[i]["annais"] = str(int(df2.iloc[i-1]["annais"]) + 1)

df["annais"] = df2["annais"]

df["annais"] = df["annais"].astype('float')

## Rename and remove columns

**QUESTION:** Remove useless columns (now that you've created new ones, and rename them). You should end up with a dataframe with columns called `"gender"`, `"year"`, `"count"`, `"firstname`" with the following dtypes:

```python
gender        category
firstname     object
count         int64
year          float64
```

In [21]:
# your code here
df_printer(df.head())
df.drop('sexe', axis=1, inplace=True)
df.rename(columns={'annais': 'year', 'nombre': 'counter', 'preusuel': 'firstname'}, inplace=True)
df_printer(df.head())

+----+--------+----------------+----------+----------+----------+
|    |   sexe | preusuel       |   annais |   nombre | gender   |
|----+--------+----------------+----------+----------+----------|
|  0 |      1 | _PRENOMS_RARES |     1900 |     1249 | Male     |
|  1 |      1 | _PRENOMS_RARES |     1901 |     1342 | Male     |
|  2 |      1 | _PRENOMS_RARES |     1902 |     1330 | Male     |
|  3 |      1 | _PRENOMS_RARES |     1903 |     1286 | Male     |
|  4 |      1 | _PRENOMS_RARES |     1904 |     1430 | Male     |
+----+--------+----------------+----------+----------+----------+
+----+----------------+--------+-----------+----------+
|    | firstname      |   year |   counter | gender   |
|----+----------------+--------+-----------+----------|
|  0 | _PRENOMS_RARES |   1900 |      1249 | Male     |
|  1 | _PRENOMS_RARES |   1901 |      1342 | Male     |
|  2 | _PRENOMS_RARES |   1902 |      1330 | Male     |
|  3 | _PRENOMS_RARES |   1903 |      1286 | Male     |
|  4 | _PRENOMS_RARES |   1904 |      1430 | Male     |
+----+----------------+--------+-----------+----------+

**Question:** Do the same thing for British and US data. You should eventually obtain dataframes with the same schema.

**QUESTION:** How many missing values (NA) have been introduced? How many births are concerned?

In [28]:
# your code here
index_list = df.loc[df['firstname'] == "_PRENOMS_RARES"].index # get all row index which have _PRENOMS_RARES as firstname value
cpt = 0
for index in index_list:
    cpt += df.iloc[index]["counter"]
    
print(f"Number of missing values : {index_list.size}")
print(f"Number of births concerned : {cpt}")

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            313581, 313582, 313583, 313584, 313585, 313586, 313587, 313588,
            313589, 313590],
           dtype='int64', length=244)
Number of missing values : 244
Number of births concerned : 1718677

**QUESTION:** Read the documentation and describe the origin of rows containing the missing values.

## **Answer**

**XXXX** values for the year are not taken into account as they have already been replaced. The only remaining missing values is **_Prenoms_RARES** for the **firstname** column. As described in the documentation, the **_PRENOMS_RARES** value represents all names that have not been attributed to at least 20 males or 20 females birthed in the associated year.

## Checkpointing: save your transformed dataframes

**QUESTION:** Save the transformed dataframe (retyped and renamed) to `./nat2021_csv.zip`. Try several compression methods.

In [34]:
# your code here
df.to_csv("nat2021_csv", index=False, compression="zip")

**QUESTION:** Save the transformed dataframes (retyped and renamed) to `./nat2021.hdf` using `.hdf` format

In [39]:
# your code here
df.to_hdf("nat2021", key="df", mode="w", format="table")

At that point your working directory should look like:

```
├── homework01.py      # if you use `jupytext`
|── homework01.qmd     # if you use `quarto`
├── homework01.ipynb   # if you use `jupyter` `notebook`
├── babies-fr.hdf
├── babies-fr.zip
├── babies-us.hdf
├── babies-us.zip
├── babies-ew.hdf
├── babies-ew.zip
├── births-fr.csv
├── births-fr.hdf
```

**QUESTION:** Reload the data using `read_hdf(...)` so that the resulting dataframes  are properly typed with meaningful and homogeneous column names.

__Hint:__ use `try: ... except` to handle exceptions such as `FileNotFoundError`

In [51]:
# your code here
try:
    df2 = pd.read_hdf('nat2021', 'df')
    df_printer(df2.head())
    for col in df2:
        print(f"type of {col} : {df2[col].dtypes}")
except FileNotFoundError:
    print("File not found")

+----+----------------+--------+-----------+----------+
|    | firstname      |   year |   counter | gender   |
|----+----------------+--------+-----------+----------|
|  0 | _PRENOMS_RARES |   1900 |      1249 | Male     |
|  1 | _PRENOMS_RARES |   1901 |      1342 | Male     |
|  2 | _PRENOMS_RARES |   1902 |      1330 | Male     |
|  3 | _PRENOMS_RARES |   1903 |      1286 | Male     |
|  4 | _PRENOMS_RARES |   1904 |      1430 | Male     |
+----+----------------+--------+-----------+----------+
type of firstname : object
type of year : float64
type of counter : int64
type of gender : category

## Some data "analytics" and visualization

**QUESTION**: For each year, compute the total number of Female and Male births and the proportion of Female  births among total births

__Hints:__

- Groupby operations using several columns for the groups return a dataframe with a `MultiIndex` index see [Pandas advanced](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)

- Have a look at `MultiIndex`, `reset_index`, `pivot`, `columns.droplevel`

In [178]:
df

             firstname    year  counter  gender
0       _PRENOMS_RARES  1900.0     1249    Male
1       _PRENOMS_RARES  1901.0     1342    Male
2       _PRENOMS_RARES  1902.0     1330    Male
3       _PRENOMS_RARES  1903.0     1286    Male
4       _PRENOMS_RARES  1904.0     1430    Male
...                ...     ...      ...     ...
686533           ZYNEB  2018.0        5  Female
686534           ZYNEB  2019.0        7  Female
686535           ZYNEB  2020.0        8  Female
686536           ZYNEB  2021.0        6  Female
686537           ZYNEB  2022.0       19  Female

[686538 rows x 4 columns]

In [183]:
# your code here
multi = df.set_index(["year", "gender", "counter"]).sort_index()
multi

                         firstname
year   gender counter
1900.0 Female 3            ABELINE
              3             ABELLE
              3           ADELHEID
              3             ADELIE
              3             AGLAEE
...                            ...
2024.0 Male   27           BABAKAR
              27       SOULEYEMANE
              28              DADY
              28             RAHMI
              32            BARNEY

[686538 rows x 1 columns]

In [180]:
multi.loc[1900, "Female"]

          firstname
counter
3           ABELINE
3            ABELLE
3          ADELHEID
3            ADELIE
3            AGLAEE
...             ...
6696         LOUISE
6981       GERMAINE
8058     MARGUERITE
13981        JEANNE
48713         MARIE

[984 rows x 1 columns]

In [192]:
multi.loc[1900, "Female"].loc[:, "counter"]

KeyError: 'counter'

**QUESTION:** Plot the proportion of female births as a function of year and French, US, en British babynames data. Compare with what you get from `births-fr.hdf`.

Don't forget: title, axes labels, ticks, scales, etc.

Because of what we did before, the `plot` method of a `DataFrame` with be rendered using `plotly`, so you can use this. But you can use also `seaborn` or any other available plotting library that you want.

__Hint:__ Mind the missing values in the `year` column

In [ ]:
# your code here

**QUESTION:** Make any sensible comment about these plots.

_Insert your answer here_

> ...

**QUESTION:** Explore the fluctuations of sex ratio around its mean value since 1945  in the US, in France and in the Great Britain.

Plot deviations of sex ratio around its mean since 1945 as a function of time.

In [ ]:
# your code here

**QUESTION:**  Assume that baby gender is chosen at random according to a Bernoulli distribution with success probability $.48$, that baby genders are i.i.d. Perform simulations for sex ratios for French and US data since 1945. 

Plot the results, compare with your plots above.

# The rise, decline and fall of firstnames

**Question:** For each year, country, gender and firstname, compute the popularity rank of the firstname among the names given to babies with that gender, in that country, in that year. The most popular name should be given rank $1$.


**QUESTION:** For each firstname and sex (some names may be given to girls and boys), compute the total number of times this firstname has been given during `1900-2019`. Print the top 20 firstnames given and style your result dataframe using `background_gradient` for instance.

In [ ]:
# your code here

## Rare firstnames

**QUESTION:** In the French data, for each sex, plot the proportion of births given `_PRENOMS_RARES` as a function of the year.

In [ ]:
# your code here

# A study of the "Marie" firstname

**QUESTION:** Plot the proportion of female births given name `'MARIE'` or `'MARIE-...'` (compounded names) as a function of the year.
Proceed in such a way that the reader can see the share of compounded names. We are expecting an _area plot_.

__Hints:__

- Have a look at the `.str` accessor (to apply a string method over a whole column containing string)
- Have a look at [r-graph-gallery: stacked area](https://www.r-graph-gallery.com/stacked-area-graph.html)  and
at [ggplot documentation](https://ggplot2.tidyverse.org/reference/geom_ribbon.html). Pay attention on the way you stack the area corresponding to names matching pattern 'MARIE-.*' over or under the are corresponding to babies named 'MARIE'
- See Graphique 3, page 48, de _L'archipel français_  de J. Fourquet. Le Seuil. Essais. Vol. 898.

- Add annotation, 1st World War, Front Populaire, 2nd World War, 1968

In [ ]:
# your code here

# Top 10 firstnames of year 2000

**QUESTION:** For each sex, select the ten most popular names in year 2000, and plot the proportion
of newborns given that name over time. Take into account that some names might have
zero occurrence during certain years.

__Hint:__ Leave aside the rows with '_PRENOMS_RARES'.

In [ ]:
# your code here

# Picturing concentration of babynames distributions


Every year, the name counts define a discrete probability distribution over the set of names (the universe).

This distribution, just as an income or wealth distribution, is (usually) far from being uniform. We want to assess how uneven it is.

We use the tools developed in econometrics.

Without loss of generality, we assume that we handle a distribution over positive integers $1, \ldots, n$ where $n$ is the number of distinct names given during a year.

We assume that frequencies $p_1, p_2, \ldots, p_n$ are given in ascending order, ties are broken arbitrarily.

The `Lorenz function` ([Lorenz](https://en.wikipedia.org/wiki/Lorenz_curve) not `Lorentz`) maps $[0, 1] \to [0, 1]$.

$$L(x) = \sum_{i=1}^{\lfloor nx \rfloor} p_i .$$

Note that this is a piecewise constant function. 


**Question:** Compute and plot the Lorenz fucntion for a given `sex`, `year` and `country`

**Question:** Design an animated plot that shows the evolution of the Lorenz curve of babynames distribution through the years for a given sex and country.

The Lorenz curve summarizes how far a discrete probability distribution is from the uniform distribution. This is a very rich summary and it is difficult to communicate this message to a wide audience. People tend to favor numerical indices (they don't really understand, but they get used to it): Gini, Atkinson, Theil, ...

The [Gini index](https://en.wikipedia.org/wiki/Gini_coefficient) is twice the surface of the area comprised between curves $y=x$ and $y=L(x)$.

$$G = 2 \times \int_0^1 (x -L(x)) \mathrm{d}x$$

The next formula  allows us to compute it efficiently.

$$G={\frac {2\sum _{i=1}^{n}i p_{i}}{n\sum _{i=1}^{n}p_{i}}}-{\frac {n+1}{n}}.$$


**Question:** Compute and plot Gini index of names distribution over time for sex and countries

# Picturing surges of popularity

In the sequel, the *popularity* of a gendered name in a population during a given year is the proportion of babies of that gender born during that year in that country,  that are given this name. 

**Question:** Prepare a data frame that contains for each hype name the 20 years before and 30 years after the maximum popularity is achieved, and, for each such year, the rank and popularity of the hype name. Do this for US and French data.

**Question:** Plot offseted popularity (share of given names within year, country, gender) curves of hype names. Facet by sex and country.

**Question:** Rescale popularity curves so that all of them have maximum $1$.

# Getting help

- [pandas](https://pandas.pydata.org/pandas-docs/stable/reference/)

- [plotly](https://plotly.com/python/) for animated plots

- [stackoverflow](https://stackoverflow.com)

- [stackoverflow: pandas](https://stackoverflow.com/questions/tagged/pandas)

- [stackoverflow: plotly+python](https://stackoverflow.com/questions/tagged/plotly+python)

- The US `babynames` analogue of the INSEE file has been a playground for data scientists,
 see [https://github.com/hadley/babynames](https://github.com/hadley/babynames)

- Don't Repeat Yourself (DRY) principle  at [Wikipedia](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)